@using Goro.Models.Home
@model IList<SolutionsViewModel>

@for (int i = 0; i < Model.Count; i++)
{
    <div class="column">
        <div class="section-part-four-columns-header">
            <div class="section-part-four-columns-header-image">
                <img src="~/Public/images/@Model[i].ImageName" />
            </div>
            <div class="section-part-four-columns-header-visible">@Model[i].Title</div>
            <div class="section-part-four-columns-content">
                <p>@Model[i].Content</p>
                <div class="goro-button">
                    <a href="#">@Model[i].ButtonName</a>
                </div>
            </div>
        </div>
    </div>
}