@{
    ViewBag.Title = "Home Page";
}

<div id="home-page">
    <div class="section-part-one">
        <h1 class="section-part-one-title">Just Drive.</h1>
        <div class="section-part-one-text">Move your business forward, right from the palm of your hand.</div>
        <div>
            <div class="section-part-one-learn-more-button">Learn More</div>
        </div>
        <div class="section-part-one-img">
            <img src="/Content/images/device-ipad-iphone-app-buzz-home-2x.png" />
        </div>
    </div>
    <div class="section-part-two">
        <div class="column">
            <div class="register-section">
                <div class="register-section-title">Daily Dose</div>
                <div class="register-section-content">Catch a live demonstration of Domo, hosted daily.</div>
                <div class="section-part-two-button">Register Now</div>
            </div>
            <div class="register-image">
                <img src="/Content/images/goro_dashboard_featurette.png" />
            </div>
        </div>
        <div class="column banner-customer-background padding-25">
            <div class="logo-customer-image">
                <img src="/Content/images/logo-customer-univision-white.svg" />
            </div>
            <div class="column-second-content">Domo gave Univision the visibility they needed into programmatic advertising performance.</div>
            <div class="section-part-two-button">See the story</div>
        </div>
        <div class="column padding-25 padding-top-60">
            <div class="logo-feature-image">
                <img src="~/Content/images/goro-dp17-featurette-logo.png" />
            </div>
            <div class="column-third-content">
                <p><b>The learning never ends.</b> Get the best of <b>#DP17</b>.</p>
            </div>
            <div class="section-part-two-button">Learn More</div>
        </div>
    </div>
    <div class="section-part-three">
        <div class="section-part-three-title">The Goro advantage.</div>
        <div class="section-part-three-assets">
            @Html.Action("Assets", "Home")
        </div>
    </div>
    <div class="section-part-four">
        <div class="section-part-four-container">
            <div class="section-part-four-title">A solution for every role.</div>
        </div>
        <div class="section-part-four-columns">
            @Html.Action("Solutions", "Home")
        </div>
        <div class="view-all-solutions-button-wrapper">
            @Html.ActionLink("view all solutions", "Index", "Solutions", null, new { @class = "view-all-solutions-button" })
        </div>
    </div>
    <div class="section-part-five">
        <div class="customer-theater-container">
            <div class="customer-theater-logo">
                <img src="~/Content/images/logo-customer-mastercard-white.svg" />
            </div>
            <div class="customer-theater-content">
                <h3>"Domo allows us to make decisions in real time, so that we can make sure every dollar we spend on marketing is most effective."</h3>
            </div>
            <div class="customer-theater-quoter">
                <span class="customer-theater-quoter-name">Curt Fournier</span>
                <span class="customer-theater-quoter-text"> | VP, Digital Marketing Analytics</span>
            </div>
            <div class="customer-theater-goro-button-container">
                <button class="customer-theater-goro-button">
                    <img src="~/Content/images/goro-icon-play-white.svg" />
                </button>
            </div>
        </div>
    </div>
</div>